<!DOCTYPE html>
<html lang="en">
<head>
    {% include "header.html" ignore missing %}
    <title>
        {% block title %}Doctors{% endblock %}
    </title>
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block content %}

        {% include "nav.html" ignore missing %}

        <div class="container-fluid contentsGap">
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                        <span class="fLetterEffect">D</span><span class="headingFont">octor</span><br />
                        <span class="fLetterEffect">&emsp;&emsp;&emsp;&emsp;M</span><span class="headingFont">anagement</span><br />
                        <span class="fLetterEffect">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;S</span><span class="headingFont">ystem</span><br />
                </div>

                <div class="col-md-4">
                    <div class="row" style="margin-top: 100px">
                        <div class="col-md-4 col-md-offset-8">
                            <a href="{{ url_for('doctor_reg') }}" class="btn btn-primary btn-lg btnLayout" role="button">Register Doctor</a><br /><br />
                            <a href="{{ url_for('doctor_book_auth') }}" class="btn btn-primary btn-lg btnLayout" role="button">Schedule Management</a><br /><br />
                            <a href="{{ url_for('doctor_search') }}" class="btn btn-primary btn-lg btnLayout" role="button">Patient Appointment</a><br /><br />
                        </div>
                    </div>

                </div>
            </div>
        </div>

    {% endblock %}

    <div id="footer">
        {% include "footer.html" ignore missing %}
        {% block footer %}
        {% endblock %}
    </div>

</body>
</html>